# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CORNE_CHOC_MOD_NUMNAV_LEFT
	bool "Corne Choc Mod NumNav Left"
	depends on SOC_NRF52840_QIAA

config BOARD_CORNE_CHOC_MOD_NUMNAV_RIGHT
	bool "Corne Choc Mod NumNav Right"
	depends on SOC_NRF52840_QIAA
